/* General Styles */
html {
  font-size: 16px;
}

span {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bolder;
}

.light-gray {
color: hsl(47, 11%, 84%);
}

.offset {
  position: relative;
  top: 4rem;
}
/* Header Styles */
header {
  font-family: 'Kanit', sans-serif;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(215, 17%, 40%);
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0.5rem 0.75rem;
}

.logo span {
  font-weight: 300;
}

.logo span strong {
  font-weight: 800;
}

.logo img {
  height: 3rem;
  width: auto;
}

nav {
  margin-right: 0.75rem;
  height: 100%;
}

nav a {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  padding: 0 0.5rem;
  height: 100%;
  color: hsl(47, 11%, 84%);
  transition: background-color 0.5s;
}

nav a:last-child {
  margin-right: 0.5rem;
}

nav a:hover {
  background-color: hsl(215, 17%, 33%);
}

/* Troubleshooting Styles */
.box {
  border: 2px hotpink solid;
}
