/* General Styles */
html {
  font-size: 16px;
}

span {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.75rem;
}

strong {
  font-weight: bolder;
}

h1, h2, h3, h4{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 0.75rem;
  font-weight: 400;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  text-align: center;
}

.light-gray {
  color: hsl(47, 11%, 84%);
}

.offset {
  position: relative;
  top: 4rem;
}

.new-section {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem 0;
}

.site-container {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.large-img {
  width: 100%;
  height: auto;
}

.column-large {
  width: 60%;
}

.column-medium {
  width: 35%;
}

/* Header Styles */
header {
  font-family: 'Kanit', sans-serif;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: hsl(215, 17%, 40%);
  z-index: 100;
}

header .site-container {
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0.5rem 0.75rem;
}

.logo span {
  font-weight: 300;
}

.logo span strong {
  font-weight: 800;
}

.logo img {
  height: 3rem;
  width: auto;
}

nav {
  margin-right: 0.75rem;
  height: 100%;
}

nav a {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  padding: 0 0.5rem;
  height: 100%;
  color: hsl(47, 11%, 84%);
  transition: background-color 0.5s;
}

nav a:last-child {
  margin-right: 0.5rem;
}

nav a:hover {
  background-color: hsl(215, 17%, 33%);
}

/* Section 1 : "Learn Something" Styles */
.button {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  color: hsl(47, 11%, 84%);
  background-color: hsl(215, 17%, 40%);
  border-radius: 0.75rem;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: hsl(34, 95%, 35%);
}

.button a {
  color: inherit;
  display: block;
  height: 100%;
}

/* Section 2 : "Keep Practicing" Styles */
#section2 .row img {
  width: 35%;
  height: auto;
  margin: 0 0.5rem;
}

#section2 .row {
  height: 33%;
}

#section2 .row .column {
  width: 65%;
  align-items: flex-start;
}

#section2 .column-medium {
  justify-content: space-between;
}

#section2 h4 {
  margin: 1rem 0;
}

#section2 p {
  margin-bottom: 0.5rem;
}

#section2 h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

/* Troubleshooting Styles */
.box {
  border: 2px hotpink solid;
}
