/* General Styles */
html {
  font-size: 16px;
  color: 	hsl(252, 5%, 18%);
}

span {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.75rem;
  color: 	hsl(34, 95%, 35%);
}

img {
  width: 100%;
  height: auto;
}

strong {
  font-weight: 800;
}

h1, h2, h3, h4{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 0.75rem;
  font-weight: 400;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  text-align: center;
}

.light-gray {
  color: hsl(47, 11%, 84%);
}

.offset {
  position: relative;
  top: 4rem;
}

.new-section {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem 0;
}

.new-section:nth-of-type(2n) {
  background-color: hsl(47, 11%, 84%);
}

.new-section:nth-of-type(2n+1) {
  background-color: hsl(47, 24%, 79%);
}

.site-container {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/*.large-img {
  width: 100%;
  height: auto;
}*/

.column-large {
  width: 60%;
}

.column-medium {
  width: 35%;
}

/* Header Styles */
header {
  font-family: 'Kanit', sans-serif;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: hsl(215, 17%, 40%);
  z-index: 100;
  position: fixed;
}

header .site-container {
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0.5rem 0.75rem;
}

.logo span {
  font-weight: 300;
}

.logo img {
  height: 3rem;
  width: auto;
}

nav {
  margin-right: 0.75rem;
  height: 100%;
}

nav a {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  padding: 0 0.5rem;
  height: 100%;
  color: hsl(47, 11%, 84%);
  transition: background-color 0.5s;
}

nav a:last-child {
  margin-right: 0.5rem;
}

nav a:hover {
  background-color: hsl(215, 17%, 33%);
}

/* Section 1 : "Learn Something" Styles */
#section1 h3 {
  margin: 1.5rem 0;
}

.button {
  width: 100%;
  text-align: center;
  color: hsl(47, 11%, 84%);
  background-color: hsl(215, 17%, 40%);
  border-radius: 0.75rem;
  transition: background-color 0.5s;
}

#section1 .button h3 {
  margin: 0;
  padding: 1.5rem 0;
}

.button:hover {
  background-color: hsl(34, 95%, 35%);
}

.button a {
  color: inherit;
  display: block;
  height: 100%;
}

/* Section 2 : "Keep Practicing" Styles */
#section2 .row img {
  width: 35%;
  height: auto;
  margin: 0 0.5rem;
}

#section2 .row {
  height: 33%;
  transition: background-color 0.5s;
}

#section2 .row .column {
  width: 65%;
  align-items: flex-start;
}

#section2 .row:hover {
  background-color: hsl(0, 0%, 70%);
}

#section2 .column-medium {
  justify-content: space-between;
}

#section2 h4 {
  margin: 1rem 0;
}

#section2 p {
  margin-bottom: 0.5rem;
}

#section2 h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

/* Section 3 : "Start Learning" Styles */
#section3 .site-container {
  flex-direction: column;
}


#section3 .section-title {
  width: 100%;
  text-align: center;
}

#section3 h1 {
  margin-bottom: 2rem;
}

#section3 h3 {
  margin: 1rem 0 0.5rem 1rem;
}

#section3 h4 {
  font-size: 1rem;
  margin: 0.5rem 0 0.5rem 1rem;
}

#section3 .row {
  justify-content: space-around;
}

#section3 .first-row {
  margin-bottom: 2rem;
}

.course {
  width: 18.67rem;
  height: 18.484rem;
  background-color: hsl(47, 11%, 84%);
  border: 1px hsl(252, 5%, 18%) solid;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Section 4 : "Thesis Exhibit" Styles */
#section4 .site-container {
  height: 28.375rem;
}

#section4 .row img {
  width: 35%;
  height: 7.349rem;
  transition: all 0.5s;
}

#section4 video {
  width: 100%;
  height: auto;
}

#section4 .row {
  justify-content: flex-start;
  position: relative;
  height: 33%;
  transition: all 0.5s;
  overflow: hidden;
}

#section4 .row .column {
  width: 65%;
  align-items: flex-start;
  position: absolute;
  margin-left: 36%;
  transition: margin-left 0.5s;
}

#section4 .column-medium {
  justify-content: flex-start;
}

#section4 h4 {
  margin: 1rem 0;
}

.font-border {
  text-shadow: 1px 0 hsl(47, 11%, 84%), -1px 0 hsl(47, 11%, 84%), 0 1px hsl(47, 11%, 84%), 0 -1px hsl(47, 11%, 84%);
}

#section4 p {
  margin-bottom: 0.5rem;
}

#section4 h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Hover styles only for desktop */
@media only screen and (min-width: 960px) {
  #section4 .column-medium .row:hover {
    height: 20.999rem;
  }

  #section4 .column-medium .row:hover img {
    width: 100%;
    height: 19.609rem;
  }

  #section4 .column-medium .row:first-of-type:hover .column {
    margin-left: 3.675rem;
  }

  #section4 .column-medium .row:last-of-type:hover .column {
    margin-left: 4.763rem;
  }
}

/* Footer Styles */
.footer {
  padding: 0.5rem 0;
  align-items: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.footer-nav a {
  margin: 0 0.25rem;
}

.footer span, .footer a span {
  font-size: 1rem;
}

/* Tablet Styles */
@media only screen and (max-width: 960px) {
  /* General Styles */
  html {
    font-size: 12px;
  }

  .site-container {
    width: 95%;
  }

  /* Section 2 : "Keep Practicing" Styles */
  #section2 .site-container {
    flex-direction: column;
    align-items: center;
  }

  #section2 .column-large {
    order: -1;
    width: 100%;
  }

  #section2 .column-medium {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }

  #section2 .row {
    flex-direction: column;
  }

  #section2 .row img {
    width: 80%;
    margin-bottom: 0.5rem;
  }

  /* Section 4: "Thesis Exhibit" Styles */
  #section4 .site-container {
    height: auto;
  }


}

/* Smaller Tablet Styles */
@media only screen and (max-width: 755px) {
  /* Section 3: "Start Learning" Styles */

  #section3 .main {
    flex-direction: row;
    align-items: flex-start;
  }

  #section3 .row {
    flex-direction: column;
  }

  #section3 .row .column:nth-of-type(2) {
    margin: 1rem 0;
  }

}

/* Phone Styles */
@media only screen and (max-width: 614px) {


}

/* Troubleshooting Styles */
.box {
  border: 2px hotpink solid;
}
